doctype <!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Boticario
        link(rel="shortcut icon", href="assets/logo.png", type="image/x-icon")
        link(href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@200&display=swap", rel="stylesheet")
    body
        header.header
            h1.header__titulo Boticario
            nav.menu
                ul
                    li
                        a(href="") Plants
                    li
                        a(href="") About Us
                    li.boton
                        a(href="") Sing Up
        section.main
            section.tryBoticario
                div.tryBoticario__container
                    h1 Your collection of plants in one place
                    p Share your collection with friends.
                    p Get for free
                    div.boton     
                        a(href="") Try Boticario
            section.principal
                h1 about us
                div.items__container
                    div.items
                        img(src="assets/Rectangle5.png", alt="photo")
                        div.items__text
                            h1 know more plants
                            p The social factor is, therefore, a factor of life, a factor of survival<br>On the contrary, it means<br>Such a system is oppressive and tyrannical <br> Afterwards a woman may breast-feed the baby she bore <br>Religion contains tradition and absorbs it; and tradition is a manifestation of the <br>natural life of people
                    div.items
                        div.items__text
                            h1 share your progress
                            p The social factor is, therefore, a factor of life, a factor of survival<br>On the contrary, it means<br>Such a system is oppressive and tyrannical <br> Afterwards a woman may breast-feed the baby she bore <br>Religion contains tradition and absorbs it; and tradition is a manifestation of the <br>natural life of people
                        img(src="assets/Rectangle6.png", alt="photo")
                    div.items
                        img(src="assets/Rectangle7.png", alt="photo")
                        div.items__text
                            h1 be happy!!
                            p The social factor is, therefore, a factor of life, a factor of survival<br>On the contrary, it means<br>Such a system is oppressive and tyrannical <br> Afterwards a woman may breast-feed the baby she bore <br>Religion contains tradition and absorbs it; and tradition is a manifestation of the <br>natural life of people    
        footer


                    

        