html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Boticario
        link(rel="shortcut icon", href="assets/logo.png", type="image/x-icon")
        link(href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:wght@200&display=swap", rel="stylesheet")
    body
        header.header
            h1.header__titulo Boticario
            nav.header__menu
                ul
                    li
                        a(href="") Plants
                    li
                        a(href="") About Us
                    li
                        button.boton(href="") Sign Up
        section.main
            section.tryBoticario
                div.tryBoticario__container
                    h1 Your collection of plants in one place
                    p Share your collection with friends.
                    p Get for free
                    div.boton     
                        a(href="") Try Boticario
            section.principal
                h1 about us
                div.items__container
                    div.items
                        img(src="assets/Rectangle5.png", alt="photo")
                        div.items__text
                            h1 know more plants
                            p The social factor is, therefore, a factor of life, a factor of survival<br>On the contrary, it means<br>Such a system is oppressive and tyrannical <br> Afterwards a woman may breast-feed the baby she bore <br>Religion contains tradition and absorbs it; and tradition is a manifestation of the <br>natural life of people
                    div.items
                        div.items__text
                            h1 share your progress
                            p The social factor is, therefore, a factor of life, a factor of survival<br>On the contrary, it means<br>Such a system is oppressive and tyrannical <br> Afterwards a woman may breast-feed the baby she bore <br>Religion contains tradition and absorbs it; and tradition is a manifestation of the <br>natural life of people
                        img(src="assets/Rectangle6.png", alt="photo")
                    div.items
                        img(src="assets/Rectangle7.png", alt="photo")
                        div.items__text
                            h1 be happy!!
                            p The social factor is, therefore, a factor of life, a factor of survival<br>On the contrary, it means<br>Such a system is oppressive and tyrannical <br> Afterwards a woman may breast-feed the baby she bore <br>Religion contains tradition and absorbs it; and tradition is a manifestation of the <br>natural life of people    
            div.principal__works
                h1 how it works
                div.works__container
                    div.works__items
                        img(src="assets/Group9.png", alt="icon")
                        h1 Register now!!
                        p The social factor is, therefore, a factor of life<br>a factor of survival<br>on the contrary. It means
                    div.works__items
                        img(src="assets/Group12.png", alt="")
                        h1 share with your friends
                        p The social factor is, therefore, a factor of life<br>a factor of survival<br>on the contrary. It means
                    div.works__items
                        img(src="assets/Group13.png", alt="")
                        h1 reffer and win
                        p The social factor is, therefore, a factor of life<br>a factor of survival<br>on the contrary. It means        
        footer
            div.footer__container
                div.social
                    h1 Boticario
                    p Follows
                    img(src="assets/Telegram.png", alt="Telegram")
                    img(src="assets/Instagram.png", alt="Instagram")
                    img(src="assets/Facebook.png", alt="Facebook")
                div.newsletter
                    h1 Suscribe to newsletter
                    label(for="") Name<br>
                    input(type="email", name="Name")
                    <br> 
                    label(for="") Correo
                    <br>
                    input(type="text", name="email")
                <br>
            h1 © Boticario 2021    



                    

        