/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boton {
  color: white;
  height: 45px;
  align-content: center;
  align-items: center;
  background-color: #25E19D;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.main {
  font-family: var(--secondary-font);
}
.main h1 {
  font-size: 38px;
  text-transform: capitalize;
}
.main .tryBoticario {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 150px;
  background-image: url(../assets/Rectangle3.png);
  height: 765px;
}
.main .tryBoticario__container {
  width: 365px;
  height: 245px;
}
.main .tryBoticario__container h1 {
  font-weight: 700;
}
.main .tryBoticario__container .boton {
  display: flex;
  justify-content: center;
  width: 200px;
}
.main .tryBoticario__container .boton a {
  color: white;
}
.main .principal {
  height: 1758px;
  padding: 20px 50px;
  background-color: var(--secondary-color);
  color: white;
  text-transform: capitalize;
}
.main .principal h1 {
  padding-bottom: inherit;
}
.main .principal .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.main .principal .items .items__text {
  align-items: center;
  align-content: center;
}
.main .principal .items .items__text h1 {
  padding: 20px 0;
}
.main .principal__works {
  padding-top: 70px;
  text-align: center;
}
.main .principal__works .works__container {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.main .principal__works .works__container .works__items {
  justify-content: center;
  align-items: center;
}
.main .principal__works .works__container .works__items img {
  padding-bottom: 45px;
}
.main .principal__works .works__container .works__items h1 {
  padding-bottom: 20px;
}
footer {
  padding: 20px 50px;
  background-color: var(--secondary-color);
  font-family: var(--principal-font);
  color: white;
}
footer .footer__container {
  display: flex;
  justify-content: space-evenly;
}
footer .footer__container img {
  margin: 10px;
}
footer .footer__container label {
  font-family: var(--secondary-font);
}
footer h1 {
  text-align: center;
  font-size: 24px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px 50px;
}
.header__titulo {
  display: inherit;
  font-size: 36px;
  font-family: 'Indie Flower', cursive;
}
.header__menu {
  font-family: 'Nunito', sans-serif;
  width: 40%;
}
.header__menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__menu ul li {
  margin: 0 10px;
  list-style: none;
}
.header__menu ul li a {
  text-decoration: none;
  color: black;
}
.header__menu ul .boton {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header__menu ul .boton a {
  color: white;
}
.header__menu ul .boton:hover {
  cursor: pointer;
}
